.rhap_container {
    background-color: transparent !important;
    box-shadow: none;
    }
  
  .rhap_button-clear {
    color: #ffff !important;
  }
  
  .rhap_progress-bar {
    background: #ae2060 !important;
  }
  
  .rhap_time {
    color: #ddd !important;
  }
  .rhap_progress-indicator {
    background-color: #ddd;
  }

  .rhap_volume-indicator {
    background-color: #ddd;
  }